<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Inquita mouth.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}</p>
        <p>Full Stack Web Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ducimus obcaecati dolores ea harum
                inventore repudiandae, expedita in laborum odit, sunt iusto! Nam in cumque aliquam quisquam? Minus,
                similique alias.</p>
        </span>
    </div>
</div>